:root{
    --cor-primaria-1: #001B2E;
    --cor-primaria-2: #294C60;
    --cor-primaria-3: #ADB6C4;
    --cor-primaria-4: #FFEFD3;
    --cor-primaria-5: #FFC49B;

    --cor-neutra-1: #fff;   
    --cor-neutra-2: #1d1d1d;
}



body {
    background-color: var(--cor-neutra-1);
}

section {
    padding: 28px 8%;
    
}

.btn-pedido {
    text-decoration: none;
    color: var(--cor-neutra-1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #000000;
    transition: background-color 0.3s ease;
}

.btn-pedido:hover {
    background-color: var(--cor-primaria-3);
}

.section_titulo {
    color: var(--cor-neutra-2);
    font-size: 1.6rem;
}

.section_subtitulo {
    font-size: 2.2rem;
}
